body {
  background: url('images/background.jpg');
  background-size: cover; 
  background-attachment: fixed;
}

#modal-white {
  margin: 24px 75px 0px 75px;
  padding:75px 100px 24px 100px;
}

#stemmen-tracker {
  padding: 24px 100px 24px 100px;
  margin: 0px 75px;
  border-top: 2px dotted gray;
  background-color: lightgray !important;
}

#div-blue {
  padding: 24px 100px 24px 100px;
  margin: 0px 75px 100px 75px;
  background-color: #01B4DC;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#logo-stemmentracker {
  width: 380px;
  height: auto;
  border-bottom: 2px solid transparent;
}

#logo-stemmentracker:hover {
  border-bottom: 2px solid gray;
  cursor: pointer;
}

#logo-stemwijzer {
  width: 330px;
  height: auto;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

#h2-blue {
  font-size: 20px;
  font-weight: bold;
  color: #01B4DC;
}

#p-with-logo {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

.logo-icon {
  width: 40px;
  height: 40px;
}

#start-button {
  float: right;
  font-size: 24px;
  font-weight: bold;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 20px 50px;
  transition: all .5s;
}

#start-button:hover {
  background-color: #01B4DC !important;
  color: white !important;
}

#logo-1v {
  width: 175px;
  height: auto;
  padding-bottom: 40px;
}

.parties {
  justify-content: flex-start;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
}

.party {
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 0 14px 18px 0;
  background: white;
  border-radius: 50px;
  transition: transform .2s ease;
}

.party__logo {
  width: 80%;
  height: 80%;
  margin: 10% 0 0 10%;
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

#question {
  display: none;
}

#goBack {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(images/icon-arrow-back.svg);
  background-color: #E7EAEB;
  border-radius: 50px;
  transition: transform .2s;
  position: relative;
  bottom: 55px;
  right: 80px;
}

#goBack:hover {
  cursor: pointer;
}

#questionHeader {
  color: #01B4DC;
}